@import "tailwindcss";

@theme {
    /* FONTS */
    --font-inter: "Inter", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    --font-bodoni: "Bodoni", serif;

    /* COLOR */
    --color-primary: rgba(0, 32, 77);
    --color-secondary: rgba(1, 153, 240);
    --color-secondary-800: rgba(1, 153, 240, 0.8);
}

:root {
    font-family: "Inter", sans-serif;
}